{% extends "main_base.html" %}


{% block content %}
<table>
    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
        <tr>
            {% for field in form.visible_fields %}
            <td>{{ field }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <!--    </table>-->
        <tr>
            <td>
                <button type="submit">Сохранить</button>
            </td>
        </tr>
    </form>
    <!--<table>-->


    <form method="post">
        {% csrf_token %}
        <tr>
            <td>id</td>
            <td>{{ form.digit }}</td>
            <td>{{ form.letter }}</td>
            <td>
                <button type="submit">Отправить</button>
            </td>
        </tr>
    </form>

</table>

{% endblock %}