{% extends "main_base.html" %}
{%load static%}

{% block content %}
<link rel="stylesheet" type="text/css"
      href="{% static 'schedule/css/style.css' %}?v={{ generate_unique_hash_or_timestamp }}">

<section class="section">

<div class="layout-buttons">
    <span class="active icon icon-list"></span>
    <span class="icon icon-table"></span>
</div>

    <div class="container">
        <h1 class="section__heading">{{title}}</h1>
        <ul class="grid">

            <li class="grid__item">
                <a class="link" href="/teachers/create">
                    <article class="product">
                        <img class="product__image" src="{%static 'schedule/img/plus.svg'%}" alt="Кроссовки"/>
                        <p class="product__price">Добавить нового учителя</p>
                        <p class="product__price">Добавить нового учителя</p>
                        <p class="product__price">Добавить нового учителя</p>
                    </article>
                </a>
            </li>


<!--                             src="{% static 'teachers/images/1.jpg' %}"-->
            {% for teacher in teachers %}

            <li class="grid__item">
                <a class="link" href="/classes">
                    <article class="product">
                        <img class="product__image"
                             src="{{ teacher.photo.url }}"
                             alt="Кроссовки"/>
                        <h2 class="product__name">{{teacher.fio}}</h2>
                        <p class="product__price">Price: 200 credits</p>
                    </article>
                </a>
            </li>

            {% endfor %}

        </ul>
    </div>
</section>

{% endblock %}