{% extends "main_base.html" %}
{%load static%}

{%block exta_head%}
{% include 'classes/admin_includes.html' %}

{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css"
      href="{% static 'schedule/css/style.css' %}?v={{ generate_unique_hash_or_timestamp }}">
<section class="section">
    <h1 class="section__heading">{{title}}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <p>
            <button type="submit">Отправить</button>
        </p>

    </form>
</section>

<script type="text/javascript">
    $(window).on('load', function (e) {
        SelectFilter.init("id_subject", "subject", 0, "/static/admin/");
    });
</script>
{% endblock %}