{%extends "main_base.html"%}
{%load static%}

{%block exta_head%}
{% include 'classes/admin_includes.html' %}
<script type="text/javascript" src="{% static '/teachers/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<h1 class="section__heading">{{title}}</h1>
<form method="post" enctype="multipart/form-data" id="form" onsubmit="handleFormSubmit(event)">
      <input type="hidden" id="objectId" name="objectId" value="{{ id }}">

    <p>
        <button type="submit">Отправить</button>
    </p>
    <img src="{{ form.photo.url }}" alt="{{ teacher.fio }} photo">
    {% csrf_token %}
    {{ form.as_p }}

    <h1>Выберите классы</h1>
    <p>
        <button type="submit">Отправить</button>
    </p>

</form>

<script type="text/javascript">
    $(window).on('load', function (e) {
        SelectFilter.init("id_subject", "subject", 0, "/static/admin/");
    });
</script>

{% endblock %}
