/* styles.css */

/* Убираем отступы по умолчанию */
body, h1 {
  margin: 0;
  padding: 0;
}

/* Стилизуем заголовок */
.header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.header h1 {
  color: #333;
  font-size: 24px;
}

/*!* styles.css *!*/

/*.teacher-container {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  justify-content: space-around; !* Равномерное распределение карточек по ширине *!*/
/*}*/

/*.teacher-card {*/
/*  border: 1px solid #ccc;*/
/*  border-radius: 5px;*/
/*  padding: 10px;*/
/*  margin: 10px;*/
/*  width: 200px;*/
/*  text-align: center;*/
/*}*/

/*.teacher-card img {*/
/*  max-width: 100%;*/
/*  height: auto;*/
/*  border-radius: 50%;*/
/*}*/

/*.teacher-card h2 {*/
/*  color: #333;*/
/*  font-size: 18px;*/
/*  margin-top: 5px;*/
/*}*/

/*.teacher-card p {*/
/*  color: #666;*/
/*  font-size: 14px;*/
/*  margin-top: 5px;*/
/*}*/