{% extends "main_base.html" %}

{% block content %}
<form action="" method="post">
    <button type="submit">Сохранить</button>
    <table>
        {% csrf_token %}
        {{ formset.management_form }}
        <tr>
            <th>Id</th>
            {% for field in formset.empty_form.visible_fields %}
            {% if field.label %}
            <th>{{ field.label }}</th>
            {% endif %}
            {% endfor %}
        </tr>
        {% for form in formset %}
        <tr>
            <td>{{ form.instance.id }}</td>

           {% for field in form %}
            {% if field.is_hidden %}
            {{ field }}
            {% else %}
            <td>{{ field }}</td>
            {% endif %}
            {% endfor %}

        </tr>
        {% endfor %}
    </table>
    <button type="submit">Сохранить</button>
</form>

{% endblock %}