{%extends "main_base.html"%}
{%load static%}

{%block exta_head%}
<script type="text/javascript"
        src="{% static 'schedule/js/classes.js' %}?v={{ generate_unique_hash_or_timestamp"></script>
<link rel="stylesheet" type="text/css" href="{% static 'schedule/css/selectors.css' %}">

{% include 'classes/admin_includes.html' %}
{% endblock %}

{% block content %}
<h1 class="section__heading">{{title}}</h1>
<form method="post" enctype="multipart/form-data" id="form" onsubmit="handleFormSubmit(event)">
    <input type="hidden" id="classId" name="objectId" value="{{ id }}">

    <p>
        <button type="submit">Отправить</button>
    </p>
    {% csrf_token %}
    {{ form.as_p }}

    <p>
        <button type="submit">Отправить</button>
    </p>

</form>

<script type="text/javascript">
    $(window).on('load', function (e) {
        SelectFilter.init("id_subject", "предметы", 0, "/static/admin/");
    });
</script>
{% endblock %}
