:root {
    --content-width: 280px;
    --top-height: 100px;
    --rows: 3;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
    background-color: #fff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* section component */
.section {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #3f51b5;
    /*width: 90%;*/
    /*max-width: 100%;*/
}

.section__heading {
    margin-top: 0;
    margin-bottom: 16px;
    color: #fff;
}


/*.product__button {*/
/*    position: absolute;*/
/*    top: 5px;*/
/*    right: 5px;*/
/*}*/

/* button component */
.button {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 16px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.button__icon {
    display: inline-flex;
}

.button__icon--start {
    margin-right: 10px;
}

.button__icon--end {
    margin-left: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: beige;
    width: 100%;
    min-height: var(--top-height);
    z-index: 1000;
}

.link {
    text-decoration: none;
}

.content {
    display: flex;
    /*margin-left: var(--content-width);*/
    /*margin-top: var(--top-height);*/
    margin-left: 10%;
    margin-top: 10%;
    /*overflow-x: auto;*/
    /*display: inline-block;*/
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    /*margin-left: var(--content-width);*/
    background-color: white;
    /*width: 70%;*/
    width: auto;
    margin: 0 auto;
}



/*a.button {*/
/*    padding: 1px 6px;*/
/*    border: 1px outset buttonborder;*/
/*    border-radius: 3px;*/
/*    color: buttontext;*/
/*    background-color: red;*/
/*    text-decoration: none;*/
/*}*/

/*.button {*/
/*    display: inline-flex;*/
/*    flex-shrink: 0;*/
/*    align-items: center;*/
/*    padding: 10px 20px;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    font-family: sans-serif;*/
/*    font-size: 16px;*/
/*    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
/*    cursor: pointer;*/
/*}*/